<a class="btn md:btn-lg btn-sm btn-secondary  border-secondary-content/30 hover:border-secondary-content/60" id="<%= label.toLowerCase().replace(/\s+/g, '-') %>" href="<%= url %><% if (static) { %>
<% if (url !== "/") { %>
.html
<% } %>
<% } %>">
  <%= label %>
</a>